$font-stack: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji"
$primary-color: #313233
$primary-font-size: 14px
$primary-max-width: 40rem
